.card {
 width: 100%;
  height:520px;
  
  background: rgba(255, 255, 255, 0.2); 
  

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 

  
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  border-radius: 20px;       
  overflow: hidden;         
  color: rgb(0, 0, 0);
  
 

  
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  filter: grayscale(100%);
        
}
body {
  /* margin: 0;
  display: flex;             
justify-content: flex-start;
  padding-left: 24px;  
  align-items: center;       
  min-height: 100vh;          */
  background-color: #d6d6d0;
}
.card-image img {
  width: 100%;
height: 400px;

  object-fit: cover;        
    transition: all 0.5s ease;
    margin-top: 24px;
    margin-left: 12px;
      border-radius: 20px;
}

.card-title {
  margin-top: 24px; 
  margin-left: 24px;     
  line-height: 1;
}
.card-description {
   
  margin-left: 24px;     
  font-size: 14px;        
       
}
.card:hover {
 
     background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(15px);
     filter: grayscale(0%); 
   
    color : white;
    z-index: 0;
    
}
a {
  text-decoration: none; 
  color: inherit;       
  display: inline-block; 
}
.bento-grid {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow: hidden; width: 100%;    
    margin: 0;
  display: flex;             
justify-content: flex-start;
  padding-left: 24px;  
    
  min-height: 100vh;       
  width: 100%;           
  max-width: 2000px;  
  margin-right: 24px;   
  margin-top: 48px  ;
  background-color: #d6d6d0;
  z-index: 99;
 
}
.card-link {
  flex: 1;
  transition: flex 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  min-width: 200px; 
}
.card-link:hover {
  flex: 3; 
}
.glass-nav {
  position: fixed;
  top: 2vw; 
 left: 50vw;
  transform: translateX(-50%);
  z-index: 10000; 
  
 
  background: rgba(71, 71, 71, 0.1); 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  

  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  min-width: 100px
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgba(8, 8, 8, 0.6); 
  transition: all 0.3s ease;

  width: 100px; 
  box-sizing: border-box;
}

.nav-item .icon {
  font-size: 24px;
  margin-bottom: 4px;
}

.nav-item .text {
  font-size: 24px;
  font-weight: 500;
   font-family: 'Poppins', sans-serif;
  
}


.nav-item:hover, .nav-item.active {
  color: #ffffff;
  transform: scale(1.15);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.topbar{
  
 
  
  margin-top: 12px;
  
}

.Project {
  color: #18272F;
  position: relative;
  text-decoration: none;
   font-family: 'Poppins', sans-serif;
  font-size: 128px;
  margin-right: 48px;
   transition: transform .3s ease-in-out;
}

.Project::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 6px;
  /* border-radius: 4px; */
  background-color: #da5959;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.Project:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.Project:hover{
  color: #da5959;
  transition: transform .3s ease-in-out;
}
.containt{
  display: grid;
  
  grid-template-columns: 65% 1fr; 
 
  grid-template-rows: auto auto; 
  gap: 24px;
  padding: 24px
 
  
}
.containts_1{
  
  
  border-radius: 15px;
  padding: 20px;
  min-height: 200px;


/* From https://css.glass */
background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.9px);
-webkit-backdrop-filter: blur(12.9px);
border: 1px solid rgba(255, 255, 255, 0.23);
  color: #7D7D7D;
  .containt-description{
    color: #9A9A9A;
    font-style: light;
  }
  
 

  
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  .imgs{
    filter: grayscale(100%);
  }
  
  transition: cubic-bezier(0.25, 1, 0.5, 1);
  min-width: 200px; 
  transition: all 0.3s ease;
  
}
.containts_1:hover {
  transition: scale 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  scale: 1.05;
  z-index: 1;
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(15px);
    .imgs{
    filter: grayscale(0%);
  }
   
    color : white;
  
}
.imgs img{
object-fit: cover;        
    transition: all 0.5s ease;
 
width: 100%;
  height: 15vw;
  
  
  
  border-radius: 20px;       
  overflow: hidden;  
}
.imgs1 img{
object-fit: cover;        
    transition: all 0.5s ease;
 
width: 100%;
  height: 100;
  position: absolute;
  
  
  border-radius: 20px;       
  overflow: hidden;  
}
.containts_2{
 grid-row: span 2; 
  
  border-radius: 15px;
  padding: 20px;
  min-height: 200px;
  
  background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.9px);
-webkit-backdrop-filter: blur(12.9px);
border: 1px solid rgba(255, 255, 255, 0.23);
  color: #7D7D7D;
  border-radius: 20px;       
  overflow: hidden;         

  
 

  
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  filter: grayscale(100%);
}
.containts_2:hover {
  transition: scale 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  scale: 1.05;
  z-index: 1;
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(15px);
     filter: grayscale(0%); 
   
    color : white;
}

body::-webkit-scrollbar {
  display: none;
}
.type{
  /* background-color: #da5959; */
  display: flex;
  align-items: baseline;
  gap: 40px;
    font-family: 'Poppins', sans-serif;
    margin-left: 24px;
    margin-top: 24px;
}
.all{
  /* background-color: #5fdf38; */
  display: flex;
  align-items: baseline;
  gap: 24px;
 .number{
  font-weight: 1000;
 }
  
}
.all h1{
  font-weight: 100;
  color: #7D7D7D;
}
.all-item :hover h1  {
  color: #ee6666;
  transform: scale(1.15);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  opacity: 0.7;
}
.all-item.active h1 {
    color: #ee6666 !important;
    opacity: 1;
    transform: scale(1.15);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.bar::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 6px;
  /* border-radius: 4px; */
  background-color: #da5959;
  margin-top: 60px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.bar:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.bar:hover,.all-item.active h1 {
  color: #da5959;
  transition: transform .3s ease-in-out;
}

/* Presentational Styles */


/* .nav-item.active::after {
  content: '';
  width: 20px;
  height: 2px;
  background: #ff00ff; 
  box-shadow: 0 0 10px #ff00ff;
  margin-top: 5px;
  border-radius: 2px;
} */