.card {
 width: 100%;
  height: 480px;
  
  background: rgba(255, 255, 255, 0.2); 
  

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 

  
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  border-radius: 20px;       
  overflow: hidden;         
  color: rgb(0, 0, 0);
  
 

  
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  filter: grayscale(100%);
        
}
body {
  margin: 0;
  display: flex;             
justify-content: flex-start;
  padding-left: 24px;  
  align-items: center;       
  min-height: 100vh;         
  background-color: #d6d6d0;
}
.card-image img {
  width: 100%;
height: 400px;

  object-fit: cover;        
    transition: all 0.5s ease;
    margin-top: 24px;
    margin-left: 12px;
      border-radius: 20px;
}
.card-title {
  margin: 0;   
  margin-left: 12px;     
  line-height: 1;
}
.card-description {
  margin: 0;  
  margin-left: 12px;     
  font-size: 14px;        
       
}
.card:hover {
 
     background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(15px);
     filter: grayscale(0%); 
   
    color : white;
    z-index: 0;
}
a {
  text-decoration: none; 
  color: inherit;       
  display: inline-block; 
}
.bento-grid {
  display: flex;
  gap: 15px;
  width: 100%;
  overflow: hidden; width: 100%;        
  
  width: 100%;           
  max-width: 2000px;  
  margin-right: 24px;   
  margin-top: 24px  ;
  background-color: #d6d6d0;
  z-index: 99;
 
}
.card-link {
  flex: 1;
  transition: flex 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  min-width: 200px; 
}
.card-link:hover {
  flex: 8; 
}
